{% load content_image %}

<div class="Cart-block Cart-block_row">
						
	<div class="Cart-block Cart-block_pict">
		<a class="Cart-pict" href="#">
			<img class="Cart-img" src="{{product|content_image}}" alt="card.jpg">
		</a>
	</div>

	<div class="Cart-block Cart-block_info">
		<a class="Cart-title" href="#">{{product.title}}</a>
		<div class="Cart-desc">
			{{product.description}}
		</div>
	</div>

	<div class="Cart-block Cart-block_price">
		<div class="Cart-price">
			{{product.price}}$
		</div>
	</div>

</div>