<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        p {
            font-family: Arial;
            font-size: 20px;
        }

        .container {
            width: 1256px;
            margin: 0 auto;
            padding: 10px;

            background-color: #A9A9A9;
        }

        .title {
            margin: 0;
            padding: 0;

            font-family: Arial;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{object.title}}</h1>
        <p>Цена: {{object.price}} руб.</p>
        <p>Описание: {{object.description}}</p>
        <p>Рубрика: {{object.type_of}}</p>
        <p>Контактная информация: {{object.author.name}} {{object.author.surname}} | {{object.author.mail}} | {{object.author.telephone_number}}</p>
        <p>Количесво просмотров: {{object.view_count}}</p>
    </div>
</body>
</html>
