{% extends 'app_shop/app_shop_base.html' %}

{% load static %}

{% load content_image %}

{% block main %}
<div class="Middle Middle_top">
    
    {% with title='Корзина' span='Корзина' %}
      {% include 'inc/header/_middle.html' %}
    {% endwith %}
    
    <div class="Section">

      <div class="wrap">
        <form class="form Cart" action="{% url 'make_order' %}" method="get">
          
          {% for product in basket %}
          <div class="Cart-product">

            {% block basket_card %}
              {% include 'app_shop/inc/_basket_card.html' %}
            {% endblock  %}

            <div class="Cart-block Cart-block_row">
            
              <div class="Cart-block Cart-block_seller">
                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->  
              </div>

              <div class="Cart-block Cart-block_amount">
              
                <div class="Cart-amount">
              
                  <div class="Amount">
                    <button class="Amount-remove" type="button"></button>
                    <input class="Amount-input form-input" name="{{product.title}}_amount" type="text" value="1">
                    <button class="Amount-add" type="button"></button>
                  </div>

                </div>

              </div>

              <div class="Cart-block Cart-block_delete">
                <a class="Cart-delete" href="{% url 'dalete_product_from_basket' slug=product.slug %}">
                  <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg">
                </a>
              </div>

            </div>

          </div>
          {% endfor %}

          <div class="Cart-total">
            
            <div class="Cart-block Cart-block_total">
              <strong class="Cart-title">Итого:</strong>
              <span class="Cart-price">200.99$</span>
            </div>
            
            <div class="Cart-block">
              <button class="btn btn_success btn_lg">Оформить заказ</button>
            </div>
          </div>
          {{form.errors}}
        </form>

        
      
      </div>

    </div>

  </div>
{% endblock %}