[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "2.2"
transliterate = "*"
pillow = "*"
django-mptt = "*"
docutils = "*"
sentry-sdk = "*"

[dev-packages]
django-debug-toolbar = "*"
django-schema-graph = "*"

[requires]
python_version = "3.9"
