{% load static %}

{% load content_image %}

{% load total_price %}

<div class="Order-block" id="step4">
	<header class="Section-header Section-header_sm">
		<h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
	</header>
	<!--+div.Order.-confirmation-->
	<div class="Order-infoBlock">

		<div class="Order-personal">
			<div class="row">
				<div class="row-block">
					<div class="Order-info">
						<div class="Order-infoType">
							ФИО:
						</div>
						<div class="Order-infoContent">
							{{request.user.first_name}} {{request.user.last_name}}
						</div>
					</div>
					<div class="Order-info">
						<div class="Order-infoType">
							Телефон:
						</div>
						<div class="Order-infoContent">
							{{request.user.profile.telephon_number}}
						</div>
					</div>
					<div class="Order-info">
						<div class="Order-infoType">
							E-mail:
						</div>
						<div class="Order-infoContent">
							{{request.user.email}}
						</div>
					</div>
				</div>
				<div class="row-block">
					<div class="Order-info Order-info_delivery">
						<div class="Order-infoType">
							Тип доставки:
						</div>
						<div class="Order-infoContent">
							Обычная доставка
						</div>
					</div>
					<div class="Order-info">
						<div class="Order-infoType">
							Город:
						</div>
						<div class="Order-infoContent">
							{{request.user.profile.city}}
						</div>
					</div>
					<div class="Order-info">
						<div class="Order-infoType">
							Адрес:
						</div>
						<div class="Order-infoContent">
							{{request.user.profile.address}}
						</div>
					</div>
					<div class="Order-info Order-info_pay">
						<div class="Order-infoType">
							Оплата:
						</div>
						<div class="Order-infoContent">
							Онлайн картой
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="Cart Cart_order">

			{% for product, count in basket.items %}

			<div class="Cart-product">
				<div class="Cart-block Cart-block_row">
					<div class="Cart-block Cart-block_pict">
						<a class="Cart-pict" href="{{product.get_absolute_url}}">
							<img class="Cart-img" src="{{product|content_image}}" alt="card.jpg">
						</a>
					</div>
					<div class="Cart-block Cart-block_info">
						<a class="Cart-title" href="#">{{product.title}}</a>
						<div class="Cart-desc">
							{{product.characteristic}}
						</div>
					</div>
					<div class="Cart-block Cart-block_price">
						<div class="Cart-price">
							{{product.price}}$
						</div>
					</div>
				</div>
				<div class="Cart-block Cart-block_row">
					<div class="Cart-block Cart-block_amount">
						{{count}} шт.
					</div>
				</div>
			</div>

			{% endfor %}

			<div class="Cart-total">
				<div class="Cart-block Cart-block_total">
					<strong class="Cart-title">Итого:
					</strong><span class="Cart-price">{{basket|total_price}}$</span>
				</div>

				<div class="Cart-block">
					<button class="btn btn_primary btn_lg" type="submit">Оплатить</button>
				</div>
			</div>

		</div>
	</div>
</div>
