{% extends 'app_profile/app_profile_base.html' %}

{% load static %}

{% block main %}

<div class="Middle Middle_top">

	{% with title='Личный кабинет' span='Личный кабинет' %}
		{% include 'inc/header/_middle.html' %}
	{% endwith %}

	<div class="Section Section_column Section_columnLeft">

		<div class="wrap">

			<div class="Section-column">

				<div class="Section-columnSection">

					<header class="Section-header">
						<strong class="Section-title">Навигация</strong>
					</header>

					<div class="Section-columnContent">

						{% block navigate_profile %}
							{% include 'app_profile/inc/_navigate_profile.html' %}
						{% endblock %}

					</div>

				</div>

			</div>

			<div class="Section-content">

				<div class="Account">

					<div class="Account-group">

						<div class="Account-column">

							<div class="Account-avatar">
								{% if profile.avatar %}
								<img src="{{profile.avatar.url}}" alt="card.jpg">
								{% else %}
								<img src="" alt="card.jpg">
								{% endif %}
							</div>
						</div>


						<div class="Account-column">
							<div class="Account-name">
								{{profile.user.first_name}} {{profile.user.last_name}}
							</div>
							<a class="Account-editLink" href="{% url 'profile' %}">Редактировать профиль</a>
						</div>
					</div>

          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <div class="Order Order_anons">
                <div class="Order-personal">
                  <div class="row">
                    <div class="row-block">
                      <a class="Order-title" href="oneorder.html">Заказ&#32;<span class="Order-numberOrder">№{{last_order.pk}}</span>&#32;от&#32;<span class="Order-dateOrder">{{last_order.created_at}}</span></a>
                      <div class="Account-editLink">
                        <a href="{% url 'history_order' %}">История заказов</a>
                      </div>
                    </div>
                    <div class="row-block">
                      <div class="Order-info Order-info_delivery">
                        <div class="Order-infoType">
                          Тип доставки:
                        </div>
                        <div class="Order-infoContent">
                          {{last_order.delivery}}
                        </div>
                      </div>
                      <div class="Order-info Order-info_pay">
                        <div class="Order-infoType">
                          Оплата:
                        </div>
                        <div class="Order-infoContent">
                          {{last_order.pay}}
                        </div>
                      </div>
                      <div class="Order-info">
                        <div class="Order-infoType">
                          Общая стоимость:
                        </div>
                        <div class="Order-infoContent">
                          {{last_order.total_price}}$
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

				</div>


			</div>

		</div>

	</div>

</div>

{% endblock %}
