{% load static %}

<div class="Footer-payments">

	<div>
		<img src="{% static 'assets/img/payments/visa.png' %}" alt="visa.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/mastercard.png' %}" alt="mastercard.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/paypal.png' %}" alt="paypal.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/american.png' %}" alt="american.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/electron.png' %}" alt="electron.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/maestro.png' %}" alt="maestro.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/delta.png' %}" alt="delta.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/e.png' %}" alt="e.png"/>
	</div>
	<div>
		<img src="{% static 'assets/img/payments/dk.png' %}" alt="dk.png"/>
	</div>

</div>