<div class="row-block">

	<strong class="Footer-title">Useful Links</strong>

	<ul class="menu menu_vt Footer-menu">
		<li class="menu-item">
			<a class="menu-link" href="#">Checkout</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#">My Cart</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#">Delivery</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#">Order Info</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#">Terms</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="#">Conditions</a>
		</li>
	</ul>
	
</div>